/* Your existing CSS styles remain unchanged */
:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body{
  margin: 0px;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


.left-section {
  background-color: #2274A5;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: 1/5;
  height: 952px;
  
}

.right-section {
  align-self: center;
  grid-column: 6/9;
  margin-left: 20px; /* Adjust margin as needed */
  margin-bottom: 50px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 376px;
  height: 538.6px;
  grid-column: 6/11;
  color: #fff;
  background-color: #242038;
  padding-top: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
  left: 20%;
  top: 20%;
  box-shadow:  0 1px 4px rgba(0, 0, 0, .6);
}

.profile-photo {
  width: 201px; /* Adjust size of the profile photo */
  height: 205px; /* Adjust size of the profile photo */
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.social-icons {
  background-color: #fff;
  margin-top: 60px;
  width: 100%;
  height: 50px;
}

.social-icons a {
  margin-top: 15px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.about-me {
  margin-bottom: 20px;
  margin-right: 20px;
}

.about-me h2 {
  margin-top: 0;
}
#line {
  width: 40px;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff ;
  color: #333;
  padding: 10px 20px;
  position: fixed; /* Make the navbar sticky */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's above other content */
}

#switch-bottom{
  text-decoration: none;
}

/* Styles for the language switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px; /* Adjust spacing between labels and switch */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styles for language labels */
label {
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px; /* Adjust spacing between labels */
}

.left-side h1 {
  margin: 0;
}

.left-side p {
  margin: 0;
  font-size: 14px;
}

.right-side{
  margin-right: 40px;
}

.right-side a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.right-side a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-info{
  display: flex;
  justify-content: space-between;
}

.footer-info p{
  margin-left: 50px;
}

.info{
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info h4 {
  text-align: center;
}

.social-media a {
  display: inline-block;
  margin: 0 5px;
}

.social-media h4 {
  text-align: center;
}
.social-media img {
  width: 30px;
  height: 30px;
}

/* 
RESUME STYLE */
#resume {
  background-color: #f9f9f9;
  padding: 50px 20px;
  color: #333;
}

.resume-content {
  max-width: 800px;
  margin: 0 auto;
}
#r-download{
  text-align: center;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.resume-cards {
  display: flex;
  justify-content: space-between;
}

.resume-card {
  flex: 0 0 calc(50% - 10px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.resume-card h3 {
  margin-top: 0;
}

.resume-card ul {
  list-style-type: none;
  padding: 0;
}

.resume-card ul li {
  margin-bottom: 10px;
}

/* PROJECT STYLE */
#projects {
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  background-color: #2274A5;
}
#project-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-card {
  width: 366px;
  height: 492px;
  margin-bottom: 20px;
  position: relative;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}

.project-info h3{
  color: #fff;
  font-size: 2em;
  margin-bottom: 5px;
}

.project-info p {
  color: #fff;
  font-size: var(--font-base);
    margin-bottom: 5px;
  
}
.project-details {
  font-size: var(--font-body);
  line-height: 1.5;
  text-align: left;
  margin-top: 30px;
}

.project-details img {
  cursor: pointer;
  width: 40px;
}

.project-card:hover .project-info {
  opacity: 1;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: var(--font-headline);
  margin-right: 50px;
  background-color: #f9f9f9;
  align-items: center;
  color: #242038;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: 200px;
}

.highlight {
  color: var(--tertiary-color);
}



/* CONTACT STYLE */
#contact {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form img{
  width: 250px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: calc(50% - 5px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  display: inline-block;
}

.form-group textarea {
  height: 150px;
}

.button-group {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
.icons{
  width: 30px;
}

